<section class="themes-menu fw">
  <div class="themes-menu__wrapper container">
    <div class="themes-menu-wrapper">
      <h3 class="section-title">Thèmes</h3>
      <div class="themes-menu-list">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="themes-menu-list__item">
                <img src="./{{ directory }}/media/img/plant.png" alt="Agriculture et foresterie">
                <p class="small-title">Agriculture et foresterie</p>
                <a href="#" class="btn btn_dark-green">Découvrir les objectifs</a>
                <object class="bg" type="image/svg+xml" data="./{{ directory }}/media/img/plant-bg.svg"><img src="./{{ directory }}/media/img/plant-bg.svg" /></object>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="themes-menu-list__item">
                <img src="./{{ directory }}/media/img/fish.png" alt="Pêche côtière et aquaculture">
                <p class="small-title">Pêche côtière et aquaculture</p>
                <a href="#" class="btn btn_blue">Découvrir les objectifs</a>
                <object class="bg" type="image/svg+xml" data="./{{ directory }}/media/img/fish-bg.svg"><img src="./{{ directory }}/media/img/fish-bg.svg" /></object>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="themes-menu-list__item">
                <img src="./{{ directory }}/media/img/water.png" alt="Eau">
                <p class="small-title">Eau</p>
                <a href="#" class="btn btn_green">Découvrir les objectifs</a>
                <object class="bg" type="image/svg+xml" data="./{{ directory }}/media/img/water-bg.svg"><img src="./{{ directory }}/media/img/water-bg.svg" /></object>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="themes-menu-list__item">
                <img src="./{{ directory }}/media/img/mouse.png" alt="Espèces envahissantes">
                <p class="small-title">Espèces envahissantes</p>
                <a href="#" class="btn btn_red">Découvrir les objectifs</a>
                <object class="bg" type="image/svg+xml" data="./{{ directory }}/media/img/mouse-bg.svg"><img src="./{{ directory }}/media/img/mouse-bg.svg" /></object>
              </div>
            </div>
          </div>
        </div>
        <div class="themes__slider-pagination slider-pagination"></div>
      </div>
    </div>
  </div>
</section>