{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <div class="breadcrumbs fw" role="navigation" aria-labelledby="system-breadcrumb">
    <a class="breadcrumbs__item breadcrumbs__item_back" href="/"><img class="breadcrumbs__arrow" src="/assets/img/bc_arrow.png" /> Retour</a>
    {% for item in breadcrumb %}
        {% if item.url %}
          <a class="breadcrumbs__item breadcrumbs__item" href="{{ item.url }}">{{ item.text }}</a>
          <span class="breadcrumbs__sep">&#8211;</span>
        {% else %}
          <span class="breadcrumbs__item breadcrumbs__item">{{ item.text }}</span>
        {% endif %}
    {% endfor %}
  </div>
{% endif %}
