<header id="header" class="main-header fw">

  <div class="main-header__container container container_big">
    <div class="main-header__top">
      <div class="main-header__top-left"><img src="/{{ directory }}/media/img/pc-logo.svg" alt="Pacific Community"></div>
      <div class="main-header__top-center">
        <p>{{ site_slogan }}</p>
      </div>
      <div class="main-header__top-right">
        <ul class="main-header__top-right-icons">
          <li><img src="/{{ directory }}/media/img/header-icons/ico_1.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_2.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_3.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_4.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_5.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_6.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_7.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_8.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_9.png" alt="Icon"></li>
          <li><img src="/{{ directory }}/media/img/header-icons/ico_10.png" alt="Icon"></li>
        </ul>
      </div>
    </div>
    <div class="main-header__bottom">
      <div class="main-header__bottom-left">
        <a href="/">
          <img src="/{{ directory }}/media/img/main-logo.png" alt="Protege logo">
        </a>
      </div>
      <div class="main-header__bottom-right">
        {{ page.header }}

        <div class="main-header__bottom-right-search">
          <img src="/{{ directory }}/media/img/search.svg" alt="Search">
        </div>

        {{ page.languages }}
      </div>
    </div>
  </div>
</header>

<div class="header-mobile fw">
  <div class="header-mobile__wrapper container">
    <a class="header-mobile__logo" href="/"><img src="/{{ directory }}/media/img/logo-mobile.png" alt="Pacific Community"></a>

    <div class="header-mobile__menu-trigger header__menu-trigger menu-trigger">
      <div class="menu-trigger__wrapper"><i></i><i></i><i></i></div>
    </div>
    <a class="header-mobile__menu-search menu-search" href="#"><img src="/{{ directory }}/media/img/icon_search.png" alt="Search"></a>
  </div>
</div>