<div class="modal-popup">
  <div class="modal-popup__overlay"></div>
  <div class="modal-popup__wrapper">
    <div class="modal-popup__inner">
      <a class="modal-popup__close btn">&#10005; &nbsp; Fermer</a>
      <div class="modal-popup__content">
        <div class="modal-popup__content-inner">
          <div class="person">
            <div class="person__image"><img src="/{{ directory }}/media/img/glasses-girl.jpg"></div>
            <div class="person__name">Alexandra Martin</div>
            <div class="person__workplace">Chambre d’Agriculture de Nouvelle-Calédonie (CANC)</div>
            <ul class="person__info person-info">
              <li class="person-info__item">
                <span class="person-info__item-name">Email : </span>
                <span class="person-info__item-value">a.martin@canc.nc</span>
              </li>
              <li class="person-info__item">
                <span class="person-info__item-name">Telephone : </span>
                <span class="person-info__item-value">28 25 00</span>
              </li>
              <li class="person-info__item">
                <span class="person-info__item-name">Adresse : </span>
                <span class="person-info__item-value">Promenade Roger Laroque<br>Nouméa<br>Nouvelle-Calédonie</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer">
  <div class="footer__wrapper">
    <div class="footer-top fw">
      <div class="footer-top__wrapper container">
        <div class="footer-wrapper footer-wrapper-top">
          <div class="footer-main-logo"><img src="/{{ directory }}/media/img/footer-icons/footer_logo.png" alt="Protege logo"></div>
          {{ page.pre_footer_menu }}

          <div class="footer-info">
            <div class="footer-info__partners">
              <ul class="footer-info__partners-list">
                <li class="footer-info__partners-list-item">
                  <img src="/{{ directory }}/media/img/footer-icons/pc.png" alt="Pacific Community">
                </li>
                <li class="footer-info__partners-list-item">
                  <img src="/{{ directory }}/media/img/footer-icons/sp.png" alt="SPREP PROE">
                </li>
                <li class="footer-info__partners-list-item">
                  <img src="/{{ directory }}/media/img/footer-icons/eu.png" alt="Financé par l'Union européenne">
                </li>
              </ul>
              <a href="" class="footer-info__partners-link">{{ 'Mentions légales'|t }}</a>
            </div>

            {{ page.pre_footer_block }}

            <div class="footer-info__image">
              <img src="/{{ directory }}/media/img/footer-icons/phone.png" alt="Mobile application">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom fw">
      <div class="footer-wrapper footer-wrapper-bottom">
        {{ page.footer_menu }}
      </div>
    </div>
  </div>
</footer>

