<section class="news-list">
  <div class="news-list__wrapper container">

    <div class="news-list__items-wrap">
      <div class="news-list__items news-list-items">
        {% for row in rows %}
            {{- row.content -}}
        {% endfor %}
      </div>
    </div>
  </div>
</section>