{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="footer-bottom__menu-list">
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
        {%
        set classes = [
        'footer-bottom__menu-list-item',
        item.in_active_trail ? 'menu-item--active-trail',
        ]
        %}
      <li id="item-{{ loop.index }}"{{ item.attributes.addClass(classes) }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
