{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - content.children: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - content: The field item content.
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}


{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}


{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menu %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul class="main-nav-list">
            {% for item in items %}
                {%
                    set classes = [
                    'main-nav-list__item',
                    item.is_expanded ? 'has-submenu',
                    item.in_active_trail ? 'menu-item--active-trail',
                    item.content['#menu_link_content'].field_is_contacts_style.value == 0 ? 'contacts-button',
                ]
                %}
                <li id="item-{{ loop.index }}"{{ item.attributes.addClass(classes) }}>
                    {{ link(item.title, item.url) }}
                    {% if item.below %}
                        {{ menu.menu_links(item.below, attributes, menu_level + 1) }}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <div class="submenu-wrapper">
                <ul class="submenu">

                {% for item in items %}
                    {%
                        set classes = [
                        'submenu__item',
                        item.in_active_trail ? 'menu-item--active-trail',
                    ]
                    %}
                    <li id="item-{{ loop.index }}"{{ item.attributes.addClass(classes) }}>
                        <img src="{{ file_url(item.content['#menu_link_content'].field_icon.entity.fileuri) }}" alt="{{item.title}}">
                        <p>{{ item.title }}</p>
                        <a href="{{ item.url }}" class="btn btn_dark-green">{{ 'Découvrir les objectifs'|t }}</a>
                    </li>
                {% endfor %}

                </ul>
            </div>
        {% endif %}

    {% endif %}
{% endmacro %}