{% import _self as menu %}
{{ menu.menu_links(items, attributes, 0) }}


{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menu %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul class="footer-main-menu__list">
        {% else %}
            <ul>
        {% endif %}

            {% for item in items %}
                {%
                    set classes = [
                    'footer-main-menu__list-item',
                    item.in_active_trail ? 'menu-item--active-trail',
                    item.content['#menu_link_content'].field_is_contacts_style.value == 0 ? 'contacts-button',
                ]
                %}
                <li id="item-{{ loop.index }}"{{ item.attributes.addClass(classes) }}>
                    {{ link(item.title, item.url) }}
                </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endmacro %}