{% import _self as menu %}
{{ menu.menu_links(items, attributes, 0) }}


{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menu %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul class="footer-bottom__social-list">
        {% else %}
            <ul>
        {% endif %}

            {% for item in items %}
                {%
                    set classes = [
                    'footer-bottom__social-list-item',
                ]
                %}
                <li id="item-{{ loop.index }}"{{ item.attributes.addClass(classes) }}>
                    <a href="{{ item.url }}" target="_blank">
                        <img src="{{ file_url(item.content['#menu_link_content'].field_icon.entity.fileuri) }}" alt="{{item.title}}">
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endmacro %}