/* FONTS */

@font-face {
    font-family: 'PF Din Display Pro';
    src: url('../fonts/PFDinDisplayPro/Light/PFDinDisplayPro-Light.eot');
    src: url('../fonts/PFDinDisplayPro/Light/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/Light/PFDinDisplayPro-Light.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/Light/PFDinDisplayPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Display Pro';
    src: url('../fonts/PFDinDisplayPro/Regular/PFDinDisplayPro-Regular.eot');
    src: url('../fonts/PFDinDisplayPro/Regular/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/Regular/PFDinDisplayPro-Regular.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/Regular/PFDinDisplayPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Display Pro';
    src: url('../fonts/PFDinDisplayPro/Medium/PFDinDisplayPro-Medium.eot');
    src: url('../fonts/PFDinDisplayPro/Medium/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/Medium/PFDinDisplayPro-Medium.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/Medium/PFDinDisplayPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Display Pro';
    src: url('../fonts/PFDinDisplayPro/Bold/PFDinDisplayPro-Bold.eot');
    src: url('../fonts/PFDinDisplayPro/Bold/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro/Bold/PFDinDisplayPro-Bold.woff') format('woff'),
    url('../fonts/PFDinDisplayPro/Bold/PFDinDisplayPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('../fonts/RobotoCondensed/Light/RobotoCondensed-Light.eot');
    src: url('../fonts/RobotoCondensed/Light/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed/Light/RobotoCondensed-Light.woff') format('woff'),
    url('../fonts/RobotoCondensed/Light/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* COMMON */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    font-size: 62.5%;
    color: #000;
    background-color: #fff;
    font-family: "PF Din Display Pro";
}

body {
    margin: 0 auto;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

body.of-hidden {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding: 0 34px;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:16px;
	font-family: "PF Din Display Pro";
}

input:focus
{
	outline:0;
}


input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

input[type=search]
{
	-webkit-appearance:textfield;
}

::-webkit-search-decoration
{
	display:none;
}


button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}

input::placeholder {
    color: #706f6f;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/select-arrow.png) right 35px center no-repeat;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    max-width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    color: #fff;
    height: 56px;
    min-width: 140px;
    width: max-content;
    max-width: 100%;
    padding: 0 30px;
    border: 2px solid;
    border-radius: 999px;
    background-color: transparent; 
    transition: all 0.25s ease-in;
    cursor: pointer;
}

.btn:hover {
    color: #398398;
    border-color: initial;   
    background-color: #fff;   
}

.btn_red {
    border-color: #f08484;
    background-color: #f08484;
}

.btn_red:hover {
    color: #f08484;
    background-color: transparent;
}

.btn_green {
    border-color: #52bbb5;
    background-color: #52bbb5;
}

.btn_green:hover {
    color: #52bbb5;
    background-color: transparent;
}

.btn_blue {
    border-color: #4cb4e7;
    background-color: #4cb4e7;
}

.btn_blue:hover {
    color: #4cb4e7;
    background-color: transparent;
}

.btn_dark-green {
    border-color: #917d55;
    background-color: #917d55;
}

.btn_dark-green:hover {
    color: #917d55;
    background-color: transparent;
}

.btn_white {
    background-color: #fff;
    border: solid 2px #fff;
    color: #000;
}

.btn_white:hover {
    background-color: transparent;
    color: #fff;
}

.btn_black {
    color: #000000;
    background-color: transparent;   
}

.btn_black:hover {
    border-color: #000000;
    background-color: #000000;
    color: #fff;
}

.btn_cyan {
    color: #fff;
    background-color: #52bbb5;   
    border-color: #52bbb5;
}

.btn_cyan:hover {
    background-color: transparent;
    color: #52bbb5;
}

.btn_brown {
    color: #fff;
    background-color: #917d55;   
    border-color: #917d55;
}

.btn_brown:hover {
    background-color: transparent;
    color: #917d55;
}

/* slider START */


.slider-controls {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 32px;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 56px;
    background-color: #fff;
    border: solid 2px #000;
    color: #000;
    border-radius: 28px;
    margin: 10px 0;
}

.slider-button_prev,
.slider-button_next {
    outline: none;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slider-button_prev:hover,
.slider-button_next:hover {
    opacity: 0.3;
}

.slider-button_prev {
    justify-content: flex-end;
    padding-right: 12px;
}

.slider-button_next {
    justify-content: flex-start;
    padding-left: 12px;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    position: absolute;
    left: -9999px;
}

.slider-pagination .swiper-pagination-bullet {
    background: #d4d4d4;
    margin: 0 4px;
    opacity: 1;
}

.slider-pagination .swiper-pagination-bullet-active {
    background: #706f6f;
}

/* slider END */


.hero-white-button {
    border-color: #fff;
    transition: all 0.25s ease-in;
}

.hero-white-button:hover {
    background-color: transparent;
    color: #fff;
}

.hero-transparent-button {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    padding: 0 33px;
    width: auto;
    transition: all 0.25s ease-in;
}

.hero-transparent-button:hover {
    background-color: #fff;
    color: #000;
}

.fw {
    max-width: 100%;
    width: 1600px;
    margin: 0 auto;
}

.container {
    box-sizing: border-box;
    width: 1260px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.container_big {
    width: 1480px;
}

.container_small {
    width: 1050px;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    color: #b3b3b3;
    margin-bottom: 5px;
}

.section-title {
    font-weight: 300;
    font-size: 36px;
    color: #706f6f;
    margin-bottom: 35px;
}

.big-title {
    font-weight: 500;
    font-size: 54px;
    text-align: center;
    margin-bottom: 80px;
}

.small-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
}

.left {
    text-align: left;
}

.section-title.left {
    text-align: left;
}

.center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.5px 0 5.5px 9px;
    border-color: transparent transparent transparent #ffffff;
    margin-right: 16px;
    transition: all 0.25s ease-in;
}

.hero-transparent-button:hover .triangle {
    border-color: transparent transparent transparent #000;
}

.form__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__field {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.form__row .form__field {
    width: 48%;
}

.form__input {
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #dddddd;
    border-radius: 999px;
    font-family: 'PF Din Display Pro';
    font-weight: 400;
    color: #706f6f;

    outline: 0;
    resize: none;
}

textarea.form__input {
    height: 265px;
    padding-top: 20px;
    border-radius: 30px;
}

.form__submit {
    width: 176px;
    height: 56px;
    font-weight: 700;
    color: #000000;
    background: #fff;
    border-radius: 999px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    cursor: pointer;

    transition: all 0.3s;
}

.form__submit:hover {
    background: #fafafa;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.search-form {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.search-form__input {
    background: #fff;
    color: #adadad;
}

.search-form__submit {
    height: 22px;
    width: 22px;
    padding: 0;
    background-image: url(../img/search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -56px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.nav__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 56px;
    background-color: #fff;
    border: solid 2px #000;
    color: #000;
    border-radius: 28px;
    margin-right: 50px;
}

.nav__button {
    outline: none;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__button_prev {
    justify-content: flex-end;
    padding-right: 12px;
}

.nav__button_next {
    justify-content: flex-start;
    padding-left: 12px;
}

.nav-pagination {
    display: flex;
    align-items: center;
}

.nav-pagination a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 2px solid #000000;
    border-radius: 100%;
    font-weight: 700;
    color: #000;

    margin: 0 20px;

    transition: all 0.3s;
}

.nav-pagination a:hover {
    background: #000;
    color: #fff;
}

.nav-pagination a.active {
    border: 0;
    color: #fff;

    background: rgb(82,178,208);
    background: -moz-linear-gradient(left,  rgba(82,178,208,1) 0%, rgba(27,137,168,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(82,178,208,1) 0%,rgba(27,137,168,1) 100%);
    background: linear-gradient(to right,  rgba(82,178,208,1) 0%,rgba(27,137,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b2d0', endColorstr='#1b89a8',GradientType=1 );
}

/* HEADER */
.main-header {
    position: relative;
    padding: 30px 0 20px;
    background-color: #fff;
}

.main-header__container {

}

.main-header__top,
.main-header__bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.main-header__top {
    margin-bottom: 39px;
}

.main-header__top-left {
    width: 157px;
}

.main-header__top-center {
    font-family: "Roboto Condensed Light";
    font-size: 26px;
    text-transform: uppercase;
}

.main-header__top-right-icons {
    display: flex;
    flex-flow: row nowrap;
}

.main-header__top-right-icons li:not(last-child) {
    margin-right: 14px;
}

.main-header__top-right-icons img {
    display: block;
}

.main-header__bottom-left {
    width: 213px;
}

.main-header__bottom-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.main-nav-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.main-nav-list__item {
    margin-right: 71px;
}

.main-nav-list__item:not(.contacts-button)::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: #000;
    position: relative;
    bottom: -40px;
    transition: 0.25s all linear;
}

.main-nav-list__item:not(.contacts-button):hover:after {
    width: 100%;
}

.contacts-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: auto;
    padding: 0 30px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
}

.contacts-button::before {
    content: "";
    display: inline-block;
    height: 26px;
    width: 24px;
    background-image: url(../img/pin.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 15px;
}

.main-header__bottom-right-search {
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
}

.main-header__bottom-right-search img {
    width: 22px;
}

.main-header__bottom-right-search::after {
    content: "";
    display: block;
    width: 1px;
    height: 56px;
    background-color: #eee;
    margin-left: 40px;
}

.main-header__bottom-right-lang {
    margin-left: 17px;
    font-weight: 700;
}

.languages {
  position: relative;
  height: 44px;
}
.languages li {
    display: none;
    margin-bottom: 1px;
}
.languages li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 60px;
}
.languages li a:hover {
    background: none repeat scroll 0 0 #333;
    border: medium none;
    color: #a7a5a5;
}
.languages li.active {
    display: block;
}

.submenu-wrapper {
    display: none;
    position: absolute;
    max-width: 1600px;
    width: 100%;
    padding: 0 11%;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-top: 1px solid #eee;
    background-color: #fff;
    z-index: 10;
}

.submenu {
    display: flex;
    flex-flow: row nowrap;
}

.submenu__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    padding: 56px 0 65px;
}

.submenu__item:not(:last-child){
    border-right: 1px solid #eee;
}

.submenu__item img {
    width: 83px;
    margin-bottom: 19px;
}

.submenu__item p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 33px;
    font-weight: normal;
    font-size: 24px;
    min-height: 62px;
    line-height: 1.3;
    text-align: center;
    color: #706f6f;
    max-width: 144px;
}

.submenu__item a {
    margin: auto 0 0;
}

/* END HEADER */

/* page coral START */

.page-coral {
    overflow: hidden;
    width: 100%;
}

.page-coral__image {
    position: absolute;
    right: -160px;
    top: 330px;
    z-index: 3;
}

/* page coral END */

/* HERO SLIDER */

.hero-slider__slide-wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 80px 190px;
    line-height: 1.3;
    z-index: 2;
}

.hero-slider__slide-wrapper::before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );
    z-index: -1;
}

.hero-slider__slide-content {
    width: 701px;
    max-width: 100%;
    position: relative;
    z-index: 3;
}



/* END HERO SLIDER */

/* HERO START */

.hero {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    color: #fff;
    margin-bottom: 45px;
}


.hero::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );

}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;

    padding: 50px 0 90px;
}


.hero__pretitle {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    opacity: 0.8;
}

.hero__title {
    color: #fff;
}

.hero__btns {
    display: flex;
    flex-flow: row wrap;
}

.hero__btns a {
    min-width: 280px;
    margin-bottom: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

.hero__btn {
    margin: 40px auto 0;
}

.hero__bottom {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 85px;
}

.hero__bottom-wrapper {
    background-image: url(../img/hero_bottom.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100px;
    height: 32px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}


.hero__bottom-wrapper::before,
.hero__bottom-wrapper::after {
    content: "";
    display: block;
    width: calc(50vw);
    height: 32px;
    background-color: #fff;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 4;
}

.hero__bottom-wrapper::after {
    left: auto;
    right: 100%;
}

.hero__bottom-pin {
    display: block;
    width: 54px;
    height: 63px;
    background-image: url(../img/hero_bottom_pin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -80%);
    z-index: 3;
    transition: all 0.25s ease-in;
}

.hero__bottom-pin:hover {
    transform: translate(-50%, -75%);
}

.hero__coral {
    display: block;
    max-width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 5%;
    z-index: 2;
    opacity: 0.3;
}

.hero__coral img {
    max-height: 130%;
}

/* HERO END */

/* banner image START */

.bannerimage {
    padding: 225px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.bannerimage::before {
    content: url('../img/banner-pin.png');
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
}

.bannerimage__wrapper {
    text-align: center;
    color: #fff;
}

.bannerimage__pretitle {
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 30px;
}

.bannerimage__title {
    margin-bottom: 30px;
}

.bannerimage__btn {
    margin: 0 auto;
}

.bannerimage__btn svg,
.bannerimage__btn img {
    margin-right: 15px;
}

.bannerimage__btn:hover svg {
    filter: invert(1);
}

/* banner image END */

/* THEMES MENU */
.themes-menu-wrapper {
    margin-bottom: 50px;
}

.themes-menu-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: -20px;
}

.themes-menu-list .swiper-wrapper {
    padding: 20px 0 40px;
}

.themes-menu-list__item {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    border-right: none;
    box-sizing: border-box;
    width: 280px;
    max-width: 100%;
    padding: 45px 30px 40px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.themes-menu-list__item img {
    width: 83px;
    margin-bottom: 19px;
}

.themes-menu-list__item p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 33px;
    font-weight: normal;
    min-height: 62px;
    text-align: center;
    color: #706f6f;
    max-width: 144px;
}

.themes-menu-list__item a {
    margin: auto 0 0;
}

.themes-menu-list__item .button {
    position: relative;
    z-index: 1;
}

.themes-menu-list__item .bg {
    position: absolute;
    top: 39.55%;
    left: 35.714%;
    z-index: 0;
    opacity: 0.1;
    z-index: -1;
}
/* END THEMES MENU */

/* BREADCRUMBS START */

.breadcrumbs {
    padding: 35px 0;
    margin-bottom: 30px;
}

.breadcrumbs__wrapper {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.breadcrumbs__item,
.breadcrumbs__sep {
    display: flex;
    align-items: center;
    min-height: 22px;
    margin: 10px 2px;
    font-weight: 700;
    font-size: 12px;
    color: #aaaaaa;
}

.breadcrumbs__item_back {
    color: #000000;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #eeeeee;
}

.breadcrumbs__arrow {
    margin-right: 15px;
}

span.breadcrumbs__item {
    color: #706f6f;
}

a.breadcrumbs__item:hover {
    text-decoration: underline;
}

/* BREADCRUMBS END */

/* TERRITORIES SECTION */

.territories {
    overflow: hidden;
}

.territories-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 88px;
}

.territories-title-pin {
    width: 80px;
    height: auto;
    margin: 0 auto -33px;
    position: relative;
    z-index: 1;
}

.territories-marker {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.territories-marker.left-text .territories-marker-pin {
    order: 2;
}

.territories-marker.left-text p {
    order: 1;
    padding-right: 17px;
    padding-left: 0;
}

.territories-marker > p {
    font-size: 24px;
    color: #fff;
    max-width: 110px;
    padding-left: 17px;
    padding-bottom: 20px;
}

.territories-marker.new-caledonia {
    top: 51.9%;
    left: 22.7%;
}

.territories-marker.wallis {
    top: 29%;
    left: 40%;
}

.territories-marker.polynesia {
    top: 40%;
    left: 68.6%;
}

.territories-marker.pitcairn {
    top: 60%;
    left: 83%;
}

.territories-marker-pin {
    width: 45px;
    height: auto;
    cursor: pointer;
}

.territories-pin-popup {
    display: none;
    position: absolute;
    bottom: 140%;
    left: 82%;
    transform: translateX(-50%);
    z-index: 3;
}

.territories-pin-popup.align-left {
    left: 0;
    transform: translateX(-65%);
}

.territories-pin-popup.align-left::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 30px 0 30px;
    border-color: #ffffff transparent transparent transparent;
    z-index: 6;
}

.territories-pin-popup__wrapper {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    width: 591px;
    border-radius: 28px;
    /* overflow: hidden; */
}

.territories-pin-popup__left,
.territories-pin-popup__right {
    width: 50%;
    position: relative;
}

.territories-pin-popup__left {
    border-bottom-left-radius: 28px;    
}

.territories-pin-popup__left img {
    border-top-left-radius: 28px;
    object-fit: cover;
    width: 100%;
    height: 111%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 75% 90%, 65% 100%, 55% 90%, 0% 90%);
    border-bottom-left-radius: 28px;
    position: absolute;
    top: 0;
    left: 0;
}

.territories-pin-popup.align-left .territories-pin-popup__left img {
    height: 100%;
    border-bottom-left-radius: 28px;
    clip-path: none;
}

.territories-pin-popup__right {
    padding: 39px 25px 43px;
}

.territories-pin-popup__right_title {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 34px;
}

.territories-pin-popup__right_text {
    display: flex;
    flex-flow: row nowrap;
    color: #706f6f;
    font-weight: normal;
}

.territories-pin-popup__right_text:not(:last-child) {
    margin-bottom: 30px;
}

.territories-pin-popup__right_text__bold {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: 700;
    max-width: 128px;
    width: 100%;
}

.territories-pin-popup__right_text__bold::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 20px;
    background-image: url(../img/pin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 16px;
}



.territories-mobile {
    position: absolute;
    left: -9999px;
}

.territories-mobile__slider {
    position: relative;

        background: rgb(0,179,211);
    background: -moz-linear-gradient(top,  rgba(0,179,211,1) 0%, rgba(27,136,167,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,179,211,1) 0%,rgba(27,136,167,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,179,211,1) 0%,rgba(27,136,167,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3d3', endColorstr='#1b88a7',GradientType=0 );
}

.territories-mobile__icon {
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 2;
}

.territories-mobile__block {
    display: flex;
    justify-content: center;



}

.territories-mobile__slider-pagination {
    top: -50px;
    z-index: 1;
}

.territories-mobile__slider-pagination.slider-pagination .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}

.territories-mobile__slider-pagination.slider-pagination .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

/* END TERRITORIES SECTION */

/* NEWS SECTION */
.news-wrapper {
    padding: 57px 0 89px;
}

.news-slider-wrapper {
    padding-bottom: 30px;
}

/* END NEWS SECTION */

/* DOCUMENTATION SECTION */
.documentation {
    padding: 57px 0 120px;

    background: #76b8ca;
    background: -moz-linear-gradient(top, #76b8ca 0%, #97d1e3 100%);
    background: -webkit-linear-gradient(top, #76b8ca 0%,#97d1e3 100%);
    background: linear-gradient(to bottom, #76b8ca 0%,#97d1e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b8ca', endColorstr='#97d1e3',GradientType=0 );
}


.documentation-search {
    margin-top: 55px;
    margin-bottom: 76px;
}

.documentation-result__tabs-wrap {
    width: 100%;
    overflow-x: auto;
    border-bottom: 1px solid #5fa3b7;
    margin-bottom: 31px;
}

.documentation-result__tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}

.documentation-result__tabs-item {
    color: #398398;
    transition: color 0.25s ease-in;
}

.documentation-result__tabs-item.active-tab,
.documentation-result__tabs-item.init-tab {
    color: #fff;
    box-shadow: 0 3px 0 0 #fff;
    margin-bottom: 3px;
}

.documentation-result__tabs-item:not(:last-child) {
    margin-right: 55px;
}

.documentation-result__tabs-item a {
    display: block;
    padding-bottom: 19px;
    font-weight: 700;
}

.documentation-result__content {
    width: 100%;
    height: 576px;
    position: relative;
    overflow: auto;
}

.documentation-result__content-wrapper {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.documentation-result__content-wrapper.init-content {
    display: block;
}

.documentation-result__content-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #5fa3b7;
    padding: 30px 0 40px;
}

.documentation-result__content-item_icon {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: #1b88a7;
    border-radius: 999px;
    margin-right: 35px;
}

.documentation-result__content-item_icon img {
    margin-left: 6px;
}

.documentation-result__content-item_title h3 {
    margin-bottom: 15px;
}

.documentation-result__content-item_title p {
    font-size: 14px;
    opacity: 0.5;
}

.documentation-result__content-item .btn {
    margin-left: auto;
}

/* END DOCUMENTATION SECTION */

/* FOOTER */
.footer-top {
    position: relative;
    z-index: 1;
}

.footer-wrapper-top {
    padding-top: 90px;
}

.footer-top::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/footer-icons/corail.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1
}

.footer-main-logo {
    width: max-content;
    max-width: 101px;
    height: auto;
    margin: 0 auto 45px;
}

.footer-main-menu__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #666;
    padding-bottom: 48px;
    border-bottom: 1px solid #eee;
}

.footer-main-menu__list-item {
    position: relative;
}

.footer-main-menu__list-item:not(.contacts-button)::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #666;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.25s ease-in;
    cursor: pointer;
}

.footer-main-menu__list-item:not(.contacts-button):hover::after {
    width: 100%;
}

.footer-info {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 47px;
}

.footer-info__partners {
    border-right: 1px solid #eee;
    max-width: 536px;
    width: 100%;
}

.footer-info__partners-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-height: 92px;
    padding-right: 47px;
    margin-bottom: 68px;
}

.footer-info__partners-list-item {
    width: 30%;
}

.footer-info__partners-list-item:first-child {
    width: 27.26%;
}

.footer-info__partners-list-item:nth-child(2) {
    width: 25.47%;
}

.footer-info__partners-list-item:last-child {
    width: 15.59%;
}

.footer-info__partners-link {
    font-weight: 300;
    font-size: 14px;
    color: #999;
    transition: all 0.25s ease-in;
}

.footer-info__partners-link:hover {
    color: #000;
}

.footer-info__social {
    max-width: 377px;
    width: 100%;
    padding: 0 50px 0 39px;
}

.footer-info__social-apps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 62px;
}

.footer-info__social-apps-item a {
    position: relative;
    top: 0;
    transition: all 0.25s ease-in;
}

.footer-info__social-apps-item:hover a {
    top: -3px;
}

.footer-info__social-apps-item:first-child {
    max-width: 127px;
    width: 100%;
}

.footer-info__social-apps-item:last-child {
    max-width: 135px;
    width: 100%;
}

.footer-info__social-text {
    color: #706f6f;
    font-weight: normal;
    margin-bottom: 30px;
    max-width: 245px;
    width: 100%;
}

.footer-info__social-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
}

.footer-info__social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 47px;
    border-radius: 999px;
    border: 2px solid #000;
}

.footer-info__social-links a img {
    width: auto;
    display: block;
    transition: all 0.5s ease-in;
}

.footer-info__social-links a:hover img {
    transform: rotateY(360deg);
}

.footer-info__image {
    display: flex;
    align-items: flex-end;
    max-width: 339px;
    width: 100%;
    position: relative;
}

.footer-info__image img {
    display: block;
}

.footer-bottom {
    background: #333;
    background-image: url(../img/footer-icons/footer_bot.png);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

.footer-wrapper-bottom {
    padding: 80px 0 60px;
}

.footer-bottom__menu-list {
    font-weight: 700;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 40px;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.footer-bottom__menu-list-item {
    position: relative;
    margin: 0 20px;
    padding-bottom: 10px;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.footer-bottom__menu-list-item::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.25s ease-in;
}


.footer-bottom__menu-list-item:hover:after {
    width: 100%;
}

.footer-bottom__social-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.footer-bottom__social-list-item:not(:last-child) {
    margin-right: 18px;
}

.footer-bottom__social-list-item {
    display: block;
    max-width: 37px;
    width: 100%;
    height: auto;
}

.footer-bottom__social-list-item a {
    width: 100%;
    display: block;
}

.footer-bottom__social-list-item a img {
    display: block;
    transition: all 0.25s ease-in;
}


.footer-bottom__social-list-item a:hover img {
    filter: grayscale(100);
}
/* END FOOTER */


.theme-page .page-info__title{
    max-width: 740px;
    margin-bottom: 150px;
}

/*THEME HERO*/

.hero-bottom-pin {
    display: block;
    width: 54px;
    height: 63px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -80%);
    z-index: 3;
    transition: all 0.25s ease-in;
}

.hero-bottom-pin.plant-theme {
    background-image: url(../img/plant_theme.png);
}
/*END THEME HERO*/




/* infoblocks START */

.infoblock {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
    width: 590px;
    min-height: 400px;
    padding: 45px 70px 55px 45px;
    /* background: rgba(145, 125, 85, 0.9); */
    background: url(../img/infoblock_bg.jpg) right bottom no-repeat;
    background-size: cover;   
    color: #fff;
}

.infoblock__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;   
}

.infoblock__count {
    white-space: nowrap;
    font-weight: 300;
    padding-left: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 15px;
}

.infoblock__text {
    margin-bottom: 15px;  
}

.infoblock__list {
    padding-top: 10px;
    margin-bottom: 45px;
}

.infoblock__list li {
    display: block;
    padding-left: 24px;
    background: url(../img/infoblock__li_image.png) left top 7px no-repeat;
    margin-bottom: 12px;
}

.infoblock__btns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: auto;
}

.infoblock__btn {
    width: auto;
    padding: 0 20px;
    border: 2px solid #fff;
    border-color: #fff;
    margin-top: auto;    
    margin-right: 20px;
    margin-bottom: 20px;
}

.infoblock__btn:hover {
    color: #fff;
    background: transparent;
}


.infoblock__btn.transparent:hover {
    color: #000;
    background: #fff;
}

.infoblock__btn:last-child {
    margin-right: 0;
}

.infoblock-list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 -15px 25px;
}

.infoblock-list .infoblock {
    margin: 0 15px 45px;
}

.swiper-slide .infoblock {
    max-width: 98%;
    margin: 0 auto;
}


/* infoblocks END */

/* goals START */

.goals__title {
    position: absolute;
}

.goals__list-wrap {
    overflow: hidden;
}

.goals-item {
    display: flex;
    padding: 95px 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 75% auto;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.goals-item__info {
    background-image: url(../img/infoblock_bg_light.png);
}

.goals-item__image,
.actions-item__image {
    width: 75%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.goals__btn {
    width: 145px;
}

.goals-item:nth-child(even),
.actions-item:nth-child(even) {
    justify-content: flex-end;
    background-position: left center;
}

.goals-item:nth-child(even) .goals-item__image,
.actions-item:nth-child(even) .actions-item__image {
    right: auto;
    left: 0;
}




/* goals END */


/* places-blocks START */

.places-tabs {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 70px;
    overflow-x: auto;

}

.places-tabs__item {
    font-weight: 700;
    color: #706f6f;
    padding-bottom: 24px;
    opacity: 0.3;
    margin-right: 80px;   
    margin-bottom: 1px;
    cursor: pointer;
}

.places-tabs__item.active {
    opacity: 1;
    box-shadow: 0 3px 0 0 #000000;
}

.places-blocks {
    padding-bottom: 100px;
}

.places-blocks__title {

}

.places-blocks__list {
    display: flex;
    flex-flow: row wrap;
}

.places-blocks-item {
    width: 280px;
    max-width: 100%;
    margin: 0 32px 32px 0;
    position: relative;
}

.places-blocks-item__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    position: relative;
}

.places-blocks-item__image img {
    max-width: 96%;
}

.places-blocks-item__address {
    color: #808080;
    line-height: 15px;
    margin-bottom: 15px;
}

.places-blocks-item__title {
    color: #4d4d4d;
    margin-bottom: 22px;
}

.places-blocks-item__link {
    font-weight: 700;
    color: #111111;
    padding-bottom: 05px;
    border-bottom: 2px solid;
}

.places-blocks-item__link:hover {
    border-color: transparent;
}

.places-blocks__list_interactive {
    display: none;
}

.places-blocks__list_interactive.active {
    display: flex;
}

.places-blocks-item__image-icon {

    position: absolute;
    right: 0;
    bottom: 0;
}

.places-blocks-item__image-icon::before {
    display: block;
    width: 72px;
    height: 72px;
    content: '';
}

.places-blocks-item__image-icon_1::before {
    content: url(../img/places-icon_1.png);
}

.places-blocks-item__image-icon_2::before {
    content: url(../img/places-icon_2.png);
}

.places-blocks-item__image-icon_3::before {
    content: url(../img/places-icon_3.png);
}

.places-blocks-item__image-icon_4::before {
    content: url(../img/places-icon_4.png);
}

.swiper-slide .places-blocks-item {
    margin: 0 auto;
}

.places-blocks__slider-pagination {
    padding-top: 25px;
}

/* places-blocks END */


/* page-info START */

.page-info__title {
    color: #917d55;
}

.page-info__text {
    color: #706f6f;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
}

.page-info__text.truncated {
    -webkit-line-clamp: 4;
}

/* page-info END */

.page-search {
    margin-bottom: 75px;
}


/* operations START */

.operations {
    margin-bottom: 100px;
}

.operations__more {
    margin: 0 auto;
}

/* operations END */

.goal-page .themes-menu-wrapper {
    padding-bottom: 30px;
    padding-top: 100px;
    margin-bottom: 0;
}

/* crossposts START */

.crossposts__item {
    padding-top: 45px;
    min-height: 360px;
}

.crossposts-slider .swiper-container {
    margin-bottom: 30px;
}

/* crossposts END */

.operation-crossposts {
    margin-bottom: 55px;
}

/* actions START */

.actions {
    padding-top: 90px;
}

.actions__title {
    position: absolute;
}

.actions-item {
    display: flex;
    padding: 95px 0;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.actions-item:nth-child(even) {
    justify-content: flex-end;
    background-position: left center;
}

.actions__btn {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

/* actions END */

/* write us START */

.write-us__title {
    margin-bottom: 30px;
}

.write-us__section-title {
    margin-bottom: 55px;
}

.write-us__content {
    display: flex;
    width: 100%;
}

.write-us__form {
    flex: 0 0 auto;
    width: 800px;
    max-width: 100%;
    margin-right: 130px;
    margin-bottom: 55px;
}

.address {
    width: 200px;
}

.address__title {
    margin-bottom: 40px;
}

.address__section-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

.address__text {
    margin-bottom: 40px;
    color: #706f6f;
}

.address__list li {
    display: block;
    padding-left: 30px;
    background: url(../img/pin.svg) left top 4px no-repeat;
    background-size: 16px auto;
    margin-bottom: 25px;

    color: #706f6f;
}

.address__list b {
    display: inline-block;
    min-width: 65px;
}

/* write us END */

/* contacts map START */

.map__title {
    margin-bottom: 60px;
}

/* contacts map END */

/* news cats START */

.main-cats {
    margin-bottom: 70px;
}

.main-cats__list {
    display: flex;
    border-bottom: 1px solid #dddddd;
}

.mc-item {
    flex: 1;
    display: block;
    width: 305px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 45px 40px 40px;
    text-align: center;
    border-bottom: 3px solid transparent;
    position: relative;
    bottom: -2px;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 3;
}

.mc-item__image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    filter: grayscale(100%);
    transition: all 0.3s;
    opacity: 0.3;
    margin-bottom: 30px;
}

.mc-item__text {
    color: #706f6f;
}

.mc-item.active {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    border-bottom-color: #9A7E52;
}


.mc-item:hover .mc-item__image,
.mc-item.active .mc-item__image {
    filter: grayscale(0);  
    opacity: 1;
}

.main-cats .swiper-wrapper {
    padding-bottom: 2px;
}


.mc-item_2.active {
    border-bottom-color: #4CB4E7;
}

.mc-item_3.active {
    border-bottom-color: #00BCB6;
}

.mc-item_4.active {
    border-bottom-color: #4CB4E7;
}

/* news cats END */

.news-search {
    margin-bottom: 85px;
}

/* news-list START */

.news-list__items-wrap {
    overflow: hidden;
}

.news-list-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 -15px;
}

.news-list-item {
    width: 384px;
    max-width: 100%;
    margin: 0 15px 120px;
}

.news-list-item__image {
    width: 100%;
    height: 264px;
    position: relative;
}

.news-list-item__image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.news-list-item__icon {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 48px;
    border-radius: 10px;
    background: #fff;
    margin: -25px 0 -25px 40px;
    position: relative;
    z-index: 1;
}

.news-list-item__wrap {
    padding: 50px 40px 60px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.news-list-item__title {
    color: #4d4d4d;
    margin-bottom: 25px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
}

.news-list-item__text {
    color: #706f6f;
    margin-bottom: 25px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3;
}

.news-list-item__readmore {
    font-weight: 700;
    color: #111111;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

.news-list-item__readmore:hover {
    border-color: transparent;
}

.swiper-slide .news-list-item {
    margin: 0 auto;
}

/* news-list END */

/* news single page START */

.news-single-breadcrumbs {
    font-weight: 700;
    text-transform: uppercase;
    color: #b3b3b3;
    margin-bottom: 20px;
}

.news-single-breadcrumbs__wrapper {
    display: flex;
    align-items: center;
}

.news-single-breadcrumbs__cat-icon {
    margin-right: 15px;
}

.news-single-breadcrumbs__category {
    color: #4cb4e7;
}

.news-single-content__wrapper {
    width: 1050px;
}

.news-single-content__title {
    color: #4cb4e7;   
    margin-bottom: 65px;
}

.news-single-content__subtitle {
    width: 800px;
    max-width: 100%;
    font-weight: 500;
    font-size: 36px;
    color: #706f6f;
    margin: 0 auto 85px;
}

.news-single-content__description {
    margin-bottom: 45px;
}

.news-single-content__description::after {
    content: '';
    display: block;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 1px solid #eeeeee; 
}


.news-single-content__description h3 {
    width: 600px;
    max-width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: #4d4d4d;
    margin: 0 auto 30px;   
}

.news-single-content__description p {
    width: 600px;
    max-width: 100%;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    color: #706f6f;
    margin: 0 auto 40px;
}

.news-single-content__description > img {
    margin: 40px 0 80px;
}


.news-share {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 600px;
    max-width: 100%;
    margin: 0 auto 40px;
}

.news-share__title {
    color: #706f6f;
}

.share-socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.share-socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 47px;
    border-radius: 999px;
    border: 2px solid #000;
    margin-right: 30px;
}

.share-socials a:last-child {
    margin-right: 0;
}

.share-socials a img {
    width: auto;
    display: block;
    transition: all 0.5s ease-in;
}

.share-socials a:hover img {
    transform: rotateY(360deg);
}

/* news single page END */

/* crossnews START */

.crossnews .crossnews__wrapper {
    padding-top: 50px;
    border-top: 1px solid #eeeeee;
}

.crossnews__title {
    text-align: center;
}

.crossnews__btn-wrap {
    display: flex;
    justify-content: flex-end;
}

/* crossnews END */

/* project info START */

.project-info {
    color: #706f6f;
    margin-bottom: 70px;
}

.project-info__title {
    margin-bottom: 40px;
}

.project-info__text {
    font-weight: 500;
    margin-bottom: 80px;
}

.project-info__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.project-info__list li {
    box-sizing: border-box;
    width: 48.5%;
    color: #706f6f;
    padding-left: 30px;
    background: url(../img/pin_blue.png) left top 8px no-repeat;
    font-weight: 300;
}

.project-info__list li b {
    font-weight: 500;
}

/* project info END */

/* development fund START */

.development-fund {
    margin-bottom: 130px;
}

.development-fund__wrapper {
    display: flex;
    justify-content: space-between;
}

.development-fund__info {
    flex: 0 0 auto;
    width: 580px;
    max-width: 100%;
    margin-right: 150px;
}

.development-fund__text {
    font-weight: 300;
    color: #706f6f;
    padding-top: 23px;
    margin-bottom: 90px;
}

/* development fund END */

.project-main-cats__title {
    margin-bottom: 40px;
}

/* water info START */

.water-info {
    padding-top: 25px;
    margin-bottom: 130px;
}

.water-info__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.water-info__image {
    max-width: 100%;
    margin-right: 10%;
    flex: 1;
}

.water-info__text-title {
    margin-bottom: 55px;
}

.water-info__text {
    flex: 0 0 auto;
    width: 600px;
    max-width: 100%;
    padding-top: 10px;
}

.water-info__text-list li {
    display: block;
    font-weight: 300;
    color: #706f6f;
    padding-left: 55px;
    margin-bottom: 40px;
    background: url(../img/li-check.png) left top 3px no-repeat;
}

/* water info END */

/* team START */

.team {
    margin-bottom: 110px;
}

.team__title {
    margin-bottom: 40px;
}

.team-slider .swiper-container {
    margin-bottom: 40px;
}

.team-item {
    width: 280px;
}

.team-item__image {
    width: 100%;
    height: 264px;
    margin-bottom: 40px;
    position: relative;
}

.team-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.team-item__title {
    color: #4d4d4d;
    margin-bottom: 4px;
}

.team-item__text {
    color: #706f6f;
    margin-bottom: 33px;
}

.team-item__link {
    display: flex;
    align-items: center;
}

.team-item__link-icon {
    flex: 0 0 auto;
    margin-right: 15px;
}

.team-item__link-icon img {
    display: block;
}

.team-item__link-text {
    font-weight: 700;
    color: #111111;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    line-height: 1;
}

.team-item__link:hover .team-item__link-text {
    border-color: transparent;
}

/* team END */

/* implementation START */

.implementation {
   line-height: 1.3;
   padding-top: 25px;
   margin-bottom: 120px;
   overflow: hidden;
}

.implementation__title {
    margin-bottom: 70px;
}

.implementation__blocks {
    display: flex;
    max-width: 100%;
}

.implementation-block {
    flex: 1;
}

.implementation-block__content {
    display: flex;
    flex-direction: column;
    height: 280px;
    margin-bottom: 55px;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
}


.implementation-block__top {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 15px 45px;
    padding-right: 85px;
    color: #fff;


    background: rgb(117,193,217);
    background: -moz-linear-gradient(left,  rgba(117,193,217,1) 0%, rgba(73,160,185,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(117,193,217,1) 0%,rgba(73,160,185,1) 100%);
    background: linear-gradient(to right,  rgba(117,193,217,1) 0%,rgba(73,160,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75c1d9', endColorstr='#49a0b9',GradientType=1 );
}

.implementation-block__middle {
    box-sizing: border-box;
    padding: 42px 45px;
    padding-right: 85px;
    color: #fff;    
    height: 100%;


    background: rgb(82,178,208);
    background: -moz-linear-gradient(left,  rgba(82,178,208,1) 0%, rgba(27,136,167,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(82,178,208,1) 0%,rgba(27,136,167,1) 100%);
    background: linear-gradient(to right,  rgba(82,178,208,1) 0%,rgba(27,136,167,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b2d0', endColorstr='#1b88a7',GradientType=1 );

}

.implementation-block__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}



.implementation-block:last-child .implementation-block__content {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
}

.implementation-block:last-child .implementation-block__top,
.implementation-block:last-child .implementation-block__middle {
    padding-right: 45px;
    padding-left: 85px;
}

.implementation-block__btn {
    width: max-content;
    padding-left: 40px;
    padding-right: 40px;
}

.implementation-sep {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 280px;
    color: #706f6f;
}

.implementation-sep__block {
    height: 50%;
    flex: 0 0 auto;
}

.implementation-sep__block_top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px 25px 20px;
    border-bottom: 1px dashed #706f6f;
    padding-right: 50px;
    margin-right: -55px;
}

.implementation__mobile-btns {
    display: none;
    margin-top: 40px;
}

.implementation__mobile-btns .implementation__mobile-btn {
    margin: 0 auto 25px;
}

/* implementation END */


/* actors START */

.actors {
    margin-bottom: 110px;
}

.actors__title {
    margin-bottom: 30px;
}

.actors__content {
    display: flex;
    align-items: center;
}

.actors__info {
    margin-right: 60px;
}

.actors__info-title {
    margin-bottom: 45px;
}

.actors__info-text {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 50px;
    color: #706f6f;
}

.actors__images {
    flex: 0 0 auto;
}

/* actors END */

.project-places {
    margin-bottom: 130px;
}

/* leaders START */

.leaders {
    margin-bottom: 110px;
}

.leaders__title {
    margin-bottom: 30px;
}

.leaders__description {
    color: #706f6f;   
    margin-bottom: 60px;
}

.leaders__description h2 {
    font-weight: 500;
    margin-bottom: 65px;
}

.leaders__description p {
    margin-bottom: 40px;
}

.leaders__description ul {
    margin-bottom: 40px;
}

.leaders__description ul li {
    box-sizing: border-box;
    color: #808080;
    padding-left: 30px;
    background: url(../img/pin_blue.png) left top 8px no-repeat;
    font-weight: 300;
    margin-bottom: 18px;
}

/* leaders END */

.governance-places .places-block {
    margin-bottom: 55px;
}







/* expected results START */

.expected-results {
    padding-top: 30px;
    margin-bottom: 150px;
}

.expected-results__title {
    margin-bottom: 55px;
}

.er-item {
    margin-bottom: 100px;
}

.er-item__title {
    box-sizing: border-box;
    padding: 3% 4%;
    background: #917d55;

    font-weight: 500;
    color: #fff;
    margin-bottom: 70px;
}

.er-item__block {
    padding: 0 8%;
    margin-bottom: 50px;
}

.er-item__block p {
    font-weight: 300;
    color: #706f6f;
    margin-bottom: 12px;
}

.er-item__block p b {
    color: #4d4d4d;
}

.expected-results__btn {
    margin: 0 auto;
}

/* expected results END */

/* modal popup START */

.modal-popup {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: -9999px;
    z-index: 99;
    overflow: hidden;
}

.modal-popup__overlay {
    width: 100%;
    height: 100%;
    background: rgba(27, 136, 167, 0.9);  
    position: absolute;
    right: -100%;
    opacity: 0;
    transition: all 0.5s; 
    z-index: -1;
}

.modal-popup__wrapper {
    width: 890px;
    max-width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    right: -200%;
    transition: all 1s; 
}

.modal-popup__inner {
    box-sizing: border-box;
    padding: 40px 100px;
    height: 100%;
}

.modal-popup__close {
    font-size: 18px;
    color: #000;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    border-color: transparent;
    margin-left: auto;
    margin-bottom: 15px;
}

.modal-popup__close:hover {
    color: #000;
    border-color: transparent;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    background: #fafafa;
}

.modal-popup__content {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 30px;
}

.modal-popup__content-inner {
    box-sizing: border-box;
    max-height: 100%;
}

.modal-popup.active {
    left: 0;
}

.modal-popup.active .modal-popup__overlay {
    right: 0;
    opacity: 1;
}


.modal-popup.active .modal-popup__wrapper {
    right: 0;
}

/* modal popup END */

/* person START */

.person__image {
    width: max-content;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.person__image img {
    display: block;
}

.person__name {
    font-weight: 500;
    font-size: 54px;
    line-height: 1;
    margin-bottom: 25px;
}

.person__workplace {
    font-weight: 500;
    font-size: 36px;
    color: #706f6f;
    margin-bottom: 55px;
}

.person-info__item {
    display: flex;
    flex-flow: row wrap;
    color: #706f6f;
    margin-bottom: 25px;
    padding-left: 30px;
    background: url(../img/pin_blue.png) left top 4px no-repeat;
}

.person-info__item-name {
    font-weight: 700;
    min-width: 120px;
}

/* person END */

/* mobile menu START */

.header-mobile {
    padding: 15px 0;
    display: none;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 3;
}

.header-mobile__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile__logo {
    width: 135px;
}

.menu-trigger {
    margin-left: auto;
}

.menu-trigger__wrapper {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.menu-trigger i {
    display: block;
    width: 100%;
    height: 2px;
    margin: 4px 0;
    background: #000;
    position: relative;
    transition: all 0.3s; 
    top: 0;

    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.menu-trigger.active i:nth-child(1) {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
}

.menu-trigger.active i:nth-child(2) {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -3px;
}

.menu-trigger.active i:nth-child(3) {
    display: none;
}

.menu-search {
    margin-left: 20px;
}

.mobile-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: all 0.3s;

    color: #1b88a7;
}

.mobile-menu.active {
   left: 0;
}

.mobile-menu__overlay {
    width: 100%;
    height: 100%;
    background: #1b88a7;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.mobile-menu.active .mobile-menu__overlay {
    opacity: 0.7;
}

.mobile-menu__wrapper {
    box-sizing: border-box;
    width: calc(100% - 40px);
    width: 280px;
    height: 100%;
    position: relative;
    left: -100vw;
    transition: left 0.5s;
    background: #fff;  

}

.mobile-menu.active .mobile-menu__wrapper {
    left: 0;
}

.mobile-menu__close {
    color: #1b88a7;
    font-size: 24px;
    padding: 10px 20px;
    position: relative;
    top: -100vh;
    cursor: pointer;
    transition: all 0.6s;
    margin-bottom: 10px;
}

.mobile-menu.active .mobile-menu__close {
    top: 0;
}

.mobile-menu__close:hover {
    color: #3f4448;
}

.mobile-menu__content {
    box-sizing: border-box;
    padding: 15px;
    max-width: 100%;
    max-height: 85%;
    overflow-y: auto;
}

.mobile-menu__logo {
    display: block;
    padding: 0 10px;
    margin-bottom: 10px;
}

.mobile-menu li a {
    box-sizing: border-box;
    display: block;
    width: max-content;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.mobile-menu li.current-menu-item a,
.mobile-menu li.current-lang a {
    border-color: #fff;
}



.mobile-menu-links {
}

.mobile-menu-links li {
    display: block;
}

.mobile-menu-links ul {
    padding-left: 20px;
}

.mobile-menu__langs.langs {
    text-align: left;
    margin: 15px 0 0;
    padding-top: 15px;
    border-top: 1px solid #fff;
}

.mobile-menu__langs.langs li {
    display: block;
    margin: 0;
}

.mobile-menu__langs.langs li a {
    padding: 10px;
}

.mobile-menu .nav-manu__item {
    display: block;
    padding: 5px 0;
    margin-right: 0;
}

.mobile-menu .phone {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.mobile-menu__btns {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.mobile-menu__btn {
    width: 45%;
    margin: 10px 0;
}

/* mobile menu END */