
@media screen and (max-width: 1600px) {
    .container {
        width: 1240px;
    }

    .btn,
    .form__submit {
        padding: 0 25px;
    }

    .section-title {
        font-size: 32px;
    }

    .small-title {
        font-size: 23px;
    }

    .main-header__top-left {
        width: 140px;
        margin-right: 15px;
    }

    .main-header__top-center {
        font-size: 22px;
    }

    .main-header__top-right-icons li:not(last-child) {
        margin-right: 7px;
    }

    .main-header__top-right-icons img {
        max-height: 30px;
    }

    .main-header__bottom-left {
        width: 165px;
        margin-right: 15px;
    }

    .main-nav-list__item {
        margin-right: 60px;
    }

    .main-nav-list {
        font-size: 16px;
    }

    .main-header__bottom-right-search::after {
        margin-left: 25px;
    }

    .main-header__bottom-right-lang {
        margin-left: 5px;
    }

    .contacts-button {
        height: 48px;
        padding: 0 25px;
    }

    .big-title {
        font-size: 52px;
    }

    .submenu__item p {
        font-size: 20px;
    }

    .territories-wrapper {
        margin-bottom: 40px;
    }

    .news-list-item__text {
        font-size: 14px;
    }

    .news-list-item__readmore {
        font-size: 14px;
    }


    .infoblock {
        padding: 35px 60px 45px 35px;
    }

    .infoblock__title {
        font-size: 22px;
    }


    .bannerimage {
        padding: 200px 0;
    }

    .write-us__form {
        margin-right: 80px;
    }


}

@media screen and (max-width: 1240px) {
    .container {
        width: 1024px;
    }


    .section-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .big-title {
        font-size: 48px;
        margin-bottom: 50px;
    }

    .small-title {
        font-size: 22px;
    }

    .main-header__top-center {
        order: 1;
        text-align: center;
        padding-top: 15px;
    }

    .main-nav-list__item {
        margin-right: 30px;
    }




    .footer-bottom__menu-list {
        display: block;
        margin: 0 auto 35px;
    }

    .news-list-item {
        width: 320px;
    }

    .news-list-item__wrap {
        padding: 35px 40px 40px;
    }

    .documentation-search {
        margin-top: 0;
        margin-bottom: 55px;
    }


    .infoblock {
        width: 500px;
        padding: 30px 50px 40px 30px;
    }

    .infoblock__title {
        font-size: 20px;
    }

    .bannerimage {
        padding: 175px 0;
    }

    .goals-item,
    .actions-item {
        padding-bottom: 45px;
        margin-bottom: 55px;
    }

    .write-us__content {
        display: block;
    }

    .write-us__form {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .address {
        width: 100%;
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 768px;
    }   

    .main-header {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .big-title {
        font-size: 46px;
        margin-bottom: 45px;
    }

    .section-title {
        text-align: center;
    }

    .small-title {
        font-size: 21px;
    }

    .slider-controls {
        padding-top: 0;
    }

    .slider-pagination {
        position: relative;
        left: 0;
    }

    .slider-buttons {
        position: absolute;
        left: -9999px;
    }

    .slider-controls .btn {
        margin: 0 auto;
    }

    .footer-info__social {
        padding: 0 15px 0 15px;
    }

    .footer-info__image {
        width: 270px;
        margin: 0 auto;
    }

    .footer-main-menu {
        display: none;
    }

    .themes-menu-list {
        justify-content: center;
    }

    .themes-menu-list__item {
        width: 280px;
    }

    .infoblock {
        width: 400px;
        min-height: 300px;
        padding: 25px 30px;
    }

    .infoblock__title {
        font-size: 17px;
    }

    .bannerimage {
        padding: 150px 0;
    }

    .mc-item {
        width: 280px;
    }

    .page-info__title {
        text-align: left;
        margin-bottom: 50px;
    }

    .water-info__image {
        flex: 0 0 auto;
        margin: 0 auto 25px;
    }

    .water-info__text {
        width: 100%;
    }

    .actors__content {
        display: block;
    }

    .actors__info {
        margin: 0 0 40px;
    }

    .actions__title {
        position: static;
    }

    .implementation {
        margin-bottom: 55px;
    }

    .implementation__blocks {
        flex-flow: column nowrap;
    }

    .implementation-block__content {
        text-align: center;
        clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
        margin-bottom: 0;
        height: auto;
    }

    .implementation-block__top {
        padding: 20px 10%;
    }

    .implementation-block__middle {
        padding: 20px 10% 50px;
    }

    .implementation-sep {
        height: auto;
    }

    .implementation-sep__block {
        margin: 0;
        padding: 30px 0 25px;
        border: 0;
    }

    .implementation-sep__block-text {
        padding: 10px;
        background: #fff;
    }

    .implementation-sep__block_bottom {
        display: none;
    }

    .implementation-block__btn {
        display: none;
    }

    .implementation__mobile-btns {
        display: block;
    }


    .implementation-block:last-child .implementation-block__content {
        clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    }

    .implementation-block:last-child .implementation-block__top {
        padding: 50px 10% 20px;
    }

    .implementation-block:last-child .implementation-block__middle {
        padding: 30px 10% 40px
    }

    .actors__info-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .actors__images {
        display: flex;
        justify-content: center;
    }
} /* 1024 */

@media screen and (max-width: 768px) {
    .container {
        width: 640px;
    }

    .big-title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .small-title {
        font-size: 20px;
    }

    .hero-slider__slide-wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }

    .goals-item,
    .actions-item {
        flex-flow: column nowrap;
        padding: 0;
        margin-bottom: 45px;
    }

    .goals-item:nth-child(n) .goals-item__image,
    .actions-item:nth-child(n) .actions-item__image{
        position: static;
        width: 100%;
        order: -1;
        transform: unset;
    }


    .infoblock {
        width: 100%;
        min-height: auto;
    }

    .actions-item__info {
        opacity: 0.85;        
    }
    .places-blocks__list {
        justify-content: center;
    }

    .places-blocks-item {
        margin: 0 10px 40px;
    }

    .bannerimage {
        padding: 125px 0;
    }

    .mc-item {
        width: 240px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        flex-flow: row wrap;
    }

    .nav__buttons {
        margin: 0 auto 25px;
    }

    .nav-pagination {
        width: 100%;
        justify-content: center;
    }

    .nav-pagination a {
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }

    .project-info {
        margin-bottom: 20px;
    }

    .project-info__list li {
        width: 100%;
        margin-bottom: 30px;
    }

    .crossnews__btn-wrap {
        justify-content: center;
    }

    .territories {
        display: none;
    }

    .territories-mobile {
        position: relative;
        left: 0;
    }
} /* 768 */

@media screen and (max-width: 640px) {
    .container {
        width: 480px;
    }

    .hero-slider__slide-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .title {
        font-size: 15px;
    }

    .section-title {
        font-size: 26px;
    }

    .big-title {
        font-size: 36px;
        margin-bottom: 35px;
    }

    .small-title {
        font-size: 19px;
    }

    .hero__btns {
        justify-content: center;
    }

    .footer-info {
        flex-flow: row wrap;
    }

    .footer-info__partners {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .footer-info__partners-list {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .footer-info__partners-link {
        display: block;
        text-align: center;
    }

    .footer-info__social {
        padding: 0;
        max-width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    .footer-info__social-links {
        order: -1;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .footer-info__social-text {
        margin: 0 auto 25px;
    }

    .footer-info__social-apps {
        margin-bottom: 40px;
    }

    .footer-wrapper-bottom {
        padding-top: 50px;
    }

    .footer-bottom__menu-list-item {
        padding: 10px 0;
    }

    .documentation {
        padding: 50px 0;
    }

    .documentation-result__tabs-item:nth-child(n) {
        margin-right: 25px;
    }

    .documentation-result__content-item_icon {
        margin-right: 15px;
    }

    .documentation-result__content-item_title {
        flex: 1;
    }

    .documentation-result__content-item_title h3 {
        margin-bottom: 5px;
    }

    .documentation-result__content-item .btn {
        width: 100%;
        margin-top: 15px;
    }

    .bannerimage {
        padding: 100px 0;
    }

    .mc-item {
        width: 200px;
    }
} /* 640 */

@media screen and (max-width: 480px) {
    .container {
        width: 480px;
        padding: 0 15px;
    }

    .title {
        font-size: 14px;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .project-info .section-title {
        font-size: 22px;
    }

    .big-title {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .small-title {
        font-size: 18px;
    }

    .form__row {
        display: block;
    }

    .form__row .form__field {
        width: 100%;
    }

    .form__field {
        margin-bottom: 20px;
    }

    textarea.form__input {
        height: 130px;
    }

    .hero {
        margin-bottom: 35px;
    }

    .hero-slider__slide-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-bottom__menu-list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        text-align: center;
    }

    .news-list-item__wrap {
        padding: 35px 20px 40px;
    }

    .bannerimage {
        padding: 110px 0 75px;
    }

    .mc-item {
        width: 140px;
        padding: 30px 15px 35px;
    }

    .mc-item__image img {
        width: 50px;
    }

    .themes-menu-list__item {
        width: 238px;
        font-size: 18px;
    }

    .documentation-result__content-item_btn {
        display: none;
    }

    .project-places {
        margin-bottom: 40px;
    }

    .places-blocks {
        padding-bottom: 0;
    }

    .places-blocks-item {
        width: 236px;
    }

    .places-blocks-item__image {
        height: 236px;
    }

    .places-blocks-item__address {
        font-size: 14px;
    }

    .project-info {
        margin: 0;
    }

    .development-fund {
        margin-bottom: 60px;
    }

    .development-fund__text {
        margin-bottom: 55px;
    }

    .water-info {
        margin-bottom: 70px;
    }

    .team-item {
        width: 238px;
    }

    .team-item__image {
        height: 216px;
    }

    .team-item__text {
        font-size: 14px;
    }

    .implementation__title {
        margin-bottom: 25px;
    }

    .implementation__mobile-btns .implementation__mobile-btn {
        width: 100%;
        padding: 0;
    }

    .actors {
        margin-bottom: 80px;
    }

    .places-tabs {
        margin-bottom: 45px;
    }

    .places-tabs__item {
        white-space: nowrap;
        margin-right: 20px;
    }

    .leaders {
        margin-bottom: 60px;
    }

    .leader__btn {
        width: 100%;
        padding: 0;
    }
} /* 480 */

@media screen and (max-width: 400px) {
    .news-share {
        flex-flow: column nowrap;
    }

    .news-share__title {
        margin-bottom: 20px;
    }

    .share-socials {
        margin: 0 auto;
    }
}