{% include '@korolev/system/page-header.html.twig' with page %}

{% if page.highlighted %}
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
{% endif %}


<section class="hero fw" style="background-image: url('/{{ directory }}/media/img/hero-news.jpg');">
  <div class="hero__wrapper">
    <div class="hero_content">
      <h1 class="hero__title big-title">{{page.title}}</h1>
    </div>
    <div class="hero__bottom">
      <div class="hero__bottom-wrapper">
        <a class="hero__bottom-pin" href="#" style="background-image: url('/{{ directory }}/media/img/hero_bottom_pin.png')"></a>
      </div>
    </div>
  </div>
  <div class="hero__coral"><img src="assets/img/hero-coral.png"></div>
</section>



<div class="main-cats fw">
  <div class="main-cats__wrapper container">
    <div class="main-cats__slide main-cats-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">

          {% for id, term in getNewsCategoryList() %}
            <div class="swiper-slide">
              <a class="main-cats__item mc-item mc-item_1 {% if(get.category is not empty and get.category == id) %}active{% endif %} " href="{{ path('view.news.page_1', {'category': id|drupal_escape }) }}" >
                <div class="mc-item__image"><img src="{{ term.icon }}" /></div>
                <div class="mc-item__text small-title">{{term.name}}</div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="news-search">
  <div class="news-search__wrapper container">
    <form class="form search-form" action="/">
      <input class="form__input search-form__input" type="search" placeholder="Rechercher dans les actualités pêche côtière et aquaculture...">
      <button class="search-form__submit" type="submit"></button>
    </form>
  </div>
</section>

{{ page.content }}


{% include '@korolev/system/page-footer.html.twig' %}
