{% include '@korolev/system/page-header.html.twig' with page %}

{% if page.highlighted %}
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
{% endif %}


{{ page.content }}


{% include '@korolev/system/page-footer.html.twig' %}
