{% include '@korolev/system/page-header.html.twig' with page %}

<div class="wrap group">
  {% if page.highlighted %}
    <div class="highlighted">
      <aside class="layout-container section clearfix" role="complementary">
        {{ page.highlighted }}
      </aside>
    </div>
  {% endif %}
</div>

<div class="page-content">
  <div class="wrap-1460 group">
  {{ page.content }}
  </div>
</div>


{% include '@korolev/system/page-footer.html.twig' %}
