{% include '@korolev/system/page-header.html.twig' with page %}
{% include '@korolev/system/page-mobile-menu.html.twig' with page %}

{% if page.highlighted %}
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
{% endif %}

{{ page.content }}




{% include '@korolev/system/block-themes.html.twig' %}

<section class="territories fw">
  <div class="territories__wrapper">
    <h2 class="section-title center">Territories</h2>
    <div class="territories-title-pin">
      <img src="{{ directory }}/media/img/section-territory-pin.png" alt="Section title">
    </div>
    <div class="territories-wrapper">
      <img class="territories-map" src="{{ directory }}/media/img/map.jpg" alt="Map">
      <div class="territories-marker right-text new-caledonia">
        <div class="territories-marker-pin">
          <img src="{{ directory }}/media/img/map-pin.png" alt="Marker">
        </div>
        <p>Nouvelle-Calédonie</p>
        <div class="territories-pin-popup">
          <div class="territories-pin-popup__wrapper">
            <div class="territories-pin-popup__left">
              <img src="{{ directory }}/media/img/map-popup-img.jpg" alt="Pin image">
            </div>
            <div class="territories-pin-popup__right">
              <h4 class="territories-pin-popup__right_title">Nouvelle-Calédonie</h4>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Superficie :</span>
                <span class="territories-pin-popup__right_text__normal">18 575,5 km2</span>
              </p>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Population :</span>
                <span class="territories-pin-popup__right_text__normal">268 767 hab.</span>
              </p>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Biodiversité :</span>
                <span class="territories-pin-popup__right_text__normal">Lorem ipsum</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="territories-marker right-text wallis">
        <div class="territories-marker-pin">
          <img src="{{ directory }}/media/img/map-pin.png" alt="Marker">
        </div>
        <p>Wallis et Futuna</p>
        <div class="territories-pin-popup">
          <div class="territories-pin-popup__wrapper">
            <div class="territories-pin-popup__left">
              <img src="{{ directory }}/media/img/map-popup-img.jpg" alt="Pin image">
            </div>
            <div class="territories-pin-popup__right">
              <h4 class="territories-pin-popup__right_title">Nouvelle-Calédonie</h4>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Superficie :</span>
                <span class="territories-pin-popup__right_text__normal">18 575,5 km2</span>
              </p>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Population :</span>
                <span class="territories-pin-popup__right_text__normal">268 767 hab.</span>
              </p>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Biodiversité :</span>
                <span class="territories-pin-popup__right_text__normal">Lorem ipsum</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="territories-marker right-text polynesia">
        <div class="territories-marker-pin">
          <img src="{{ directory }}/media/img/map-pin.png" alt="Marker">
        </div>
        <p>Polynésie Française</p>
        <div class="territories-pin-popup">
          <div class="territories-pin-popup__wrapper">
            <div class="territories-pin-popup__left">
              <img src="{{ directory }}/media/img/map-popup-img.jpg" alt="Pin image">
            </div>
            <div class="territories-pin-popup__right">
              <h4 class="territories-pin-popup__right_title">Nouvelle-Calédonie</h4>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Superficie :</span>
                <span class="territories-pin-popup__right_text__normal">18 575,5 km2</span>
              </p>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Population :</span>
                <span class="territories-pin-popup__right_text__normal">268 767 hab.</span>
              </p>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Biodiversité :</span>
                <span class="territories-pin-popup__right_text__normal">Lorem ipsum</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="territories-marker left-text pitcairn">
        <div class="territories-marker-pin">
          <img src="{{ directory }}/media/img/map-pin.png" alt="Marker">
        </div>
        <p>Pitcairn</p>
        <div class="territories-pin-popup align-left">
          <div class="territories-pin-popup__wrapper">
            <div class="territories-pin-popup__left">
              <img src="{{ directory }}/media/img/map-popup-img.jpg" alt="Pin image">
            </div>
            <div class="territories-pin-popup__right">
              <h4 class="territories-pin-popup__right_title">Nouvelle-Calédonie</h4>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Superficie :</span>
                <span class="territories-pin-popup__right_text__normal">18 575,5 km2</span>
              </p>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Population :</span>
                <span class="territories-pin-popup__right_text__normal">268 767 hab.</span>
              </p>
              <p class="territories-pin-popup__right_text">
                <span class="territories-pin-popup__right_text__bold">Biodiversité :</span>
                <span class="territories-pin-popup__right_text__normal">Lorem ipsum</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="territories-mobile fw">
  <div class="territories-mobile__wrapper">
    <h2 class="section-title center">Territories</h2>
    <div class="territories-mobile__slider territories-mobile-slider">
      <div class="territories-mobile__icon">
        <img src="{{ directory }}/media/img/icon_swipe.png" alt="">
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="territories-mobile__block">
              <img src="{{ directory }}/media/img/ter-mob-demo.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="territories-mobile__block">
              <img src="{{ directory }}/media/img/ter-mob-demo.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="territories-mobile__block">
              <img src="{{ directory }}/media/img/ter-mob-demo.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="territories-mobile__slider-pagination slider-pagination"></div>
    </div>
  </div>
</section>

<section class="news fw">
  <div class="container">
    <div class="news-wrapper">
      <h2 class="section-title left">Les dernières actualités</h2>
      <div class="swiper-container news-slider">
        <div class="swiper-wrapper news-slider-wrapper">
          <div class="swiper-slide">
            <div class="news-list-items__item news-list-item">
              <div class="news-list-item__image"><img src="./{{ directory }}/media/img/news-1.jpg" /></div>
              <div class="news-list-item__icon"><img src="./{{ directory }}/media/img/news-list__icon_video.png" /></div>
              <div class="news-list-item__wrap">
                <div class="news-list-item__title small-title">De nouveaux systèmes d'accès à l'eau pour les Océaniens...</div>
                <div class="news-list-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna </div>
                <a class="news-list-item__readmore" href="news-single.php">Lire l’article</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="news-list-items__item news-list-item">
              <div class="news-list-item__image"><img src="./{{ directory }}/media/img/news-2.jpg" /></div>
              <div class="news-list-item__icon"><img src="./{{ directory }}/media/img/news-list__icon_audio.png" /></div>
              <div class="news-list-item__wrap">
                <div class="news-list-item__title small-title">Renforcement de l'agriculture dans les atolls de Tuvalu.</div>
                <div class="news-list-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna </div>
                <a class="news-list-item__readmore" href="news-single.php">Lire l’article</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="news-list-items__item news-list-item">
              <div class="news-list-item__image"><img src="./{{ directory }}/media/img/news-3.jpg" /></div>
              <div class="news-list-item__icon"><img src="./{{ directory }}/media/img/news-list__icon_text.png" /></div>
              <div class="news-list-item__wrap">
                <div class="news-list-item__title small-title">Feuille de route pour utiliser la Décennie des Nations...</div>
                <div class="news-list-item__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna </div>
                <a class="news-list-item__readmore" href="news-single.php">Lire l’article</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="news-controls slider-controls">
        <div class="new-control-buttons slider-buttons">
          <div class="new-control-buttons-prev slider-button_prev"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="9" viewBox="0 0 24 9"><image id="arrow" width="24" height="9" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAJCAYAAAAo/ezGAAAAX0lEQVQokbXTMQ5AYAxA4U8iZhexWFzN7hJWLmJxBacw2SUsJMLo70s6tXlp09aLBjOKdyIFNTa0EfIKa4Q8v+QTRvQoP1U/WbDjiIjsMcGALnX3N2E7eBJ6RTdp/wAnnrUkX2tyR+gAAAAASUVORK5CYII="/></svg></div>
          <div class="new-control-buttons-next slider-button_next"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="9" viewBox="0 0 24 9"><image id="arrow2" width="24" height="9" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAJCAYAAAAo/ezGAAAAZ0lEQVQokbXToQ2AQAyF4Y+EoDGMgcGgWYQ5UMzBNhiWYAYUAxDISTjJ3e+a17zmpa2EVNjQpzT9MuFEFymJhxxoQ1Gijlr+saDBiqHAnSnJhb3IkCAwYwwJIiUBrx3kMM92RfEf4AGOow4eSz+d1AAAAABJRU5ErkJggg=="/></svg></div>
        </div>
        <div class="news__slider-pagination slider-pagination"></div>
        <a href="#" class="btn btn_black">Voir toutes les actualités</a>
      </div>
    </div>
  </div>
</section>
<section class="documentation fw">
  <div class="documentation__wrapper container container__small">
    <div class="documentation-wrapper">
      <h2 class="section-title left text-white">Documentation</h2>
      <div class="documentation-search">
        <form class="form search-form" action="/">
          <input class="form__input search-form__input" type="search" placeholder="Rechercher dans la documentation...">
          <button class="search-form__submit" type="submit"></button>
        </form>
      </div>
      <div class="documentation-result">
        <div class="documentation-result__tabs-wrap">
          <div class="documentation-result__tabs">
            <div class="documentation-result__tabs-item init-tab">
              <a href="#" data-tab="docs">Documents et rapports</a>
            </div>
            <div class="documentation-result__tabs-item">
              <a href="#" data-tab="video">Vidéos</a>
            </div>
            <div class="documentation-result__tabs-item">
              <a href="#" data-tab="pics">Galerie</a>
            </div>
            <div class="documentation-result__tabs-item">
              <a href="#" data-tab="press">Presse</a>
            </div>
          </div>
        </div>
        <div class="documentation-result__content">
          <div class="documentation-result__content-wrapper docs init-content">
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_pdf.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Architecture du projet</h3>
                <p>350 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_ppt.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Communiqué de presse</h3>
                <p>237 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_doc.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Rapport du comité de pilotage</h3>
                <p>353 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_xls.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Synthèse des actions</h3>
                <p>550 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>

            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_doc.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Rapport du comité de pilotage</h3>
                <p>353 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_xls.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Synthèse des actions</h3>
                <p>550 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
          </div>

          <div class="documentation-result__content-wrapper video">
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_xls.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Synthèse des actions</h3>
                <p>550 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_ppt.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Communiqué de presse</h3>
                <p>237 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_pdf.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Architecture du projet</h3>
                <p>350 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_ppt.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Communiqué de presse</h3>
                <p>237 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_doc.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Rapport du comité de pilotage</h3>
                <p>353 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_xls.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Synthèse des actions</h3>
                <p>550 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>

            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_doc.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Rapport du comité de pilotage</h3>
                <p>353 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_xls.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Synthèse des actions</h3>
                <p>550 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
          </div>

          <div class="documentation-result__content-wrapper pics">
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_ppt.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Communiqué de presse</h3>
                <p>237 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_doc.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Rapport du comité de pilotage</h3>
                <p>353 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_xls.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Synthèse des actions</h3>
                <p>550 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>

            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_doc.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Rapport du comité de pilotage</h3>
                <p>353 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_xls.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Synthèse des actions</h3>
                <p>550 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
          </div>

          <div class="documentation-result__content-wrapper press">
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_pdf.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Architecture du projet</h3>
                <p>350 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_ppt.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Communiqué de presse</h3>
                <p>237 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_doc.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Rapport du comité de pilotage</h3>
                <p>353 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
            <div class="documentation-result__content-item">
              <a class="documentation-result__content-item_icon" href="#" download="File name">
                <img src="{{ directory }}/media/img/icon_xls.png" alt="Documentation icon">
              </a>
              <div class="documentation-result__content-item_title small-title">
                <h3>Synthèse des actions</h3>
                <p>550 ko</p>
              </div>
              <a class="btn documentation-result__content-item_btn" href="#" class="btn" download="File name">Télécharger</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include '@korolev/system/page-footer.html.twig' %}
