{% block paragraph %}
    {% block content %}
        <li class="footer-info__social-apps-item">
            {{ content.field_link.entity.field_link.value }}
            <a href="">
                <img  src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="" />
            </a>
        </li>
    {% endblock %}
{% endblock paragraph %}
