{{ attach_library('classy/node') }}

{% if(view_mode == 'teaser') %}
  {%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'news-list-items__item',
    'news-list-item',
  ]
  %}

  <div id="news-{{ node.id }}"{{ attributes.addClass(classes) }}>
    <div class="news-list-item__image"><img src="{{ node.field_image_for_teaser.entity.fileuri|image_style('teaser_news')  }}" /></div>
    <div class="news-list-item__icon"><img src="/{{ directory }}/media/img/news-list__icon_{{ node.field_icon_category.value }}.png" /></div>
    <div class="news-list-item__wrap">
      <div class="news-list-item__title">{{ node.title.value|length > 80 ? node.title.value|slice(0, 80) ~ '...' : node.title.value   }}</div>
      <div class="news-list-item__text">{{ node.field_teaser.value|length > 150 ? node.field_teaser.value|slice(0, 150) ~ '...' : node.field_teaser.value  }}</div>
      <a class="news-list-item__readmore" href="{{ url }}">{{ 'Lire l’article'|t }} </a>
    </div>
  </div>

{% else %}
  {%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
  %}

  <section class="hero fw" style="background-image: url({{ file_url(node.field_image.entity.uri.value) }});">
    <div class="hero__wrapper">
      <div class="hero_content">
      </div>
      <div class="hero__bottom">
        <div class="hero__bottom-wrapper">
          <a class="hero__bottom-pin" href="#" style="background-image: url('/{{ directory }}/media/img/hero_bottom_pin.png')"></a>
        </div>
      </div>
    </div>
    <div class="hero__coral"><img src="/{{ directory }}/media/img/hero-coral.png"></div>
  </section>

  <div class="news-single-page">
    <div class="news-single-breadcrumbs fw">
      <div class="news-single-breadcrumbs__wrapper container container_small">
        <div class="news-single-breadcrumbs__cat-icon"><img src="/{{ directory }}/media/img/cat-icon.png" /></div>
        {{ content.field_category }}
        <a class="news-single-breadcrumbs__category" href="#"></a>
        <div class="news-single-breadcrumbs__date">&nbsp;-&nbsp;{{ node.createdtime|date("d F Y") }}</div>
      </div>
    </div>

    <div class="news-single-content fw">
      <div class="news-single-content__wrapper container container_small">
        <h1 class="news-single-content__title big-title">{{node.title|view}}</h1>
        <h2 class="news-single-content__subtitle section-title">{{ content.field_subtitle }}</h2>
        <div class="news-single-content__description">
          {% for item in node.field_paragraph %}
            {{ drupal_entity('paragraph', item.target_id) }}
          {% endfor %}
        </div>
        <div class="news-share">
          <div class="news-share__title">Partager cet article</div>
          <div class="news-share__socials share-socials">
            <a class="share-socials__item" href="#"><img src="/{{ directory }}/media/img/footer-icons/facebook_bw.png" alt="Facebook"></a>
            <a class="share-socials__item" href="#"><img src="/{{ directory }}/media/img/footer-icons/twitter_bw.png" alt="Twitter"></a>
            <a class="share-socials__item" href="#"><img src="/{{ directory }}/media/img/footer-icons/linkedin_bw.png" alt="LinkedIn"></a>
          </div>
        </div>
      </div>
    </div>



    <div class="crossnews fw">
      <div class="crossnews__wrapper container">
        <h2 class="crossnews__title section-title">Actualités connexes</h2>
        <div class="news-list__items-wrap">
          <div class="news-list__items news-list-items">
            {% for key, anchors in getNewsList(node.id) %}

              <div id="news-{{ anchors.id }}" class="news-list-items__item news-list-item">
                <div class="news-list-item__image"><img src="{{ anchors.field_image_for_teaser.entity.fileuri|image_style('teaser_news')  }}" /></div>
                <div class="news-list-item__icon"><img src="/{{ directory }}/media/img/news-list__icon_{{ anchors.field_icon_category.value }}.png" /></div>
                <div class="news-list-item__wrap">
                  <div class="news-list-item__title">{{ anchors.title.value|length > 80 ? anchors.title.value|slice(0, 80) ~ '...' : anchors.title.value   }}</div>
                  <div class="news-list-item__text">{{ anchors.field_teaser.value|length > 150 ? anchors.field_teaser.value|slice(0, 150) ~ '...' : anchors.field_teaser.value  }}</div>
                  <a class="news-list-item__readmore" href="{{ path('entity.node.canonical', {'node': anchors.id}) }}">{{ 'Lire l’article'|t }} </a>
                </div>
              </div>

            {% endfor %}
          </div>
        </div>
        <div class="crossnews__btn-wrap">
          <a class="crossnews__btn btn btn_black" href="{{ path('view.news.page_1') }}">{{ 'Voir toutes les actualités'|t }}</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}