{{ attach_library('classy/node') }}

{% if(view_mode == 'teaser') %}


{% else %}
  {%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
  %}

  <section class="hero fw" style="background-image: url({{ file_url(node.field_image.entity.uri.value) }});">
    <div class="hero__wrapper">
      <div class="hero_content">
        <h1 class="hero__title big-title">{{node.title|view}}</h1>
      </div>
      <div class="hero__bottom">
        <div class="hero__bottom-wrapper">
          <a class="hero__bottom-pin" href="#" style="background-image: url('/{{ directory }}/media/img/hero_bottom_pin.png')"></a>
        </div>
      </div>
    </div>
    <div class="hero__coral"><img src="/{{ directory }}/media/img/hero-coral.png"></div>
  </section>

  <section class="write-us fw">
    <div class="write-us__wrapper container">
      <h3 class="write-us__title title">{{ content.field_title_for_form }}</h3>
      <h3 class="write-us__section-title section-title left">{{ content.field_sub_title_for_form }}</h3>
      <div class="write-us__content">
        <div class="write-us__form">
          {{ content.webform }}
        </div>

        <div class="write-us__address address">
          <h3 class="address__title title">{{ content.field_title_for_info_block }}</h3>
          <h3 class="address__section-title section-title">{{ content.field_sub_title_for_info_block }}</h3>
          <div class="address__text">{{ content.field_adress }}</div>
          <ul class="address__list">
            <li><b>{{ 'Email'|t }} : </b> {{ content.field_email }}</li>
            <li><b>{{ 'Tel'|t }} : </b>     {{ content.field_phone }}</li>
            <li><b>{{ 'Fax'|t }} : </b>     {{ content.field_fax }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="map fw">
    <div class="map__wrapper container">
      <h3 class="map__title title">{{ content.field_title_for_map }}</h3>
      <div class="map__content"><img src="{{ file_url(node.field_map.entity.uri.value) }}" /></div>
    </div>
  </section>

{% endif %}