{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}

<div id="article-{{ node.id }}"{{ attributes.addClass(classes) }}>
    {% if(view_mode == 'teaser') %}
      <div class="img-wrap">
        {{ content.field_image }}
        <a class="readme" href="{{ url }}" title="{{ node.label }}">Подробнее</a>
      </div>
      <div class="label">{{ node.label }}</div>
    {% else %}
      <div class="main-wrap-img">
        {{ content.field_image }}
      </div>
      {{ content.body }}
    {% endif %}
</div>
