{%
  set classes = [
    'hero hero-slider fw',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div>

  {% block content %}

    <section{{ attributes.addClass(classes) }}>
      {{ title_prefix }}
      {{ title_suffix }}
      <div class="hero__slider-wrapper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {% for item in content.field_slider['#object'].field_slider %}
              <div class="swiper-slide">
                <div class="hero-slider__slide-wrapper" style="background-image: url('{{ file_url(item.entity.field_image.entity.fileuri) }}');">
                  <div class="hero-slider__slide-content">
                    <h1 class="hero__title big-title">{{ item.entity.field_text.value | raw }}</h1>
                    <div class="hero__btns">
                      <a href="{{ file_url(item.entity.field_white_button.uri|replace({'internal:':''})) }}" class="btn btn_white hero-white-button">{{item.entity.field_white_button.title}}</a>
                      <a href="{{ file_url(item.entity.field_transparent_button.uri|replace({'internal:':''})) }}" class="btn btn_white hero-transparent-button"><span class="triangle"></span>{{item.entity.field_transparent_button.title}}</a>
                    </div>
                  </div>
                  <div class="hero__coral"><img src="/{{ directory }}/media/img/hero-coral.png"></div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="hero__bottom">
          <div class="hero__bottom-wrapper">
            <a class="hero__bottom-pin" href="#" style="background-image: url('/{{ directory }}/media/img/hero_bottom_pin.png')"></a>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}
</div>


