{%
  set classes = [
    'footer-info__social',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}

  {{ title_suffix }}
  {% block content %}

    <p class="footer-info__social-text">{{ content.field_text['#object'].field_text.value | raw }}</p>
    <ul class="footer-info__social-apps">
      {% for key, item in content.field_apps['#object'].field_apps %}
          <li class="footer-info__social-apps-item">
            <a href="{{ item.entity.field_link.value }}">
              <img  src="{{ file_url(item.entity.field_image.entity.fileuri) }}" alt="{{ item.entity.field_image.alt }}" />
            </a>
          </li>
      {% endfor %}
    </ul>


    <ul class="footer-info__social-links">
      {% for item2 in content.field_socials['#object'].field_socials %}
        <li class="footer-info__social-links-item">
          <a href="{{ item2.entity.field_link.value }}">
            <img  src="{{ file_url(item2.entity.field_image.entity.fileuri) }}" alt="{{ item2.entity.field_image.alt }}" />
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endblock %}
</div>
