{%
  set classes = [
    'main-header__bottom-right-lang',
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
      {{ content }}
  {% endblock %}
</div>
