<div {{ attributes.addClass('footer-bottom__menu')|without('role', 'aria-labelledby') }}>
  {% block content %}
    {{ title_prefix }}
    {{ content }}
    {{ title_suffix }}
  {% endblock %}
</div>
