<nav {{ attributes.addClass('main-header__bottom-right-nav')|without('role', 'aria-labelledby') }}>
  {% block content %}
    {{ title_prefix }}
    {{ content }}
    {{ title_suffix }}
  {% endblock %}
</nav>
